<select name="idCategoria" id="idCategoria">
    <% if (modoEdicion) { %>
        <% for (let cat of categorias) { %>
            <option value="<%= cat._id %>" <%= cat._id.equals(categoriaSeleccionada) ? 'selected' : '' %> ><%= cat.nombre %></option>       
        <% } %>
    <% } else { %>
        <% for (let cat of categorias) { %>
            <option value="<%= cat._id %>"><%= cat.nombre %></option>       
        <% } %>
    <% } %>
    
</select>