<select name="codCategoria" id="codCategoria">
    <% if (modoEdicion) { %>
        <% for (let cat of categorias) { %>
            <option value="<%= cat.codigo %>" <%= cat.codigo === categoriaSeleccionada ? 'selected' : '' %> ><%= cat.nombre %></option>       
        <% } %>
    <% } else { %>
        <% for (let cat of categorias) { %>
            <option value="<%= cat.codigo %>"><%= cat.nombre %></option>       
        <% } %>
    <% } %>
    
</select>