<select name="ciudad" id="ciudad">
    <% if (editingEvent) { %>
        <% for (let ciudad of citiesOptions) { %>
            <option value="<%= ciudad._id %>" <%= hor == ciudad.nombre ? 'selected' : '' %> ><%= hor %></option>       
        <% } %>
    <% } else { %>
        <% for (let ciudad of citiesOptions) { %>
            <option value="<%= ciudad._id %>"><%= ciudad.nombre %></option>       
        <% } %>
    <% } %>
    
</select>