<select name="hora" id="hora">
    <% if (modoEdicion) { %>
        <% for (let hor of horariosForm) { %>
            <option value="<%= hor %>" <%= hor == evento.hora ? 'selected' : '' %> ><%= hor %></option>       
        <% } %>
    <% } else { %>
        <% for (let hor of horariosForm) { %>
            <option value="<%= hor %>"><%= hor %></option>       
        <% } %>
    <% } %>
    
</select>