<div class="sidebar">
    <nav>
        <div class="sidebar-item d-flex align-items-center <%= opcion === 'listadoEventos' ? 'active' : '' %>">
            <a href="/backoffice/listado-eventos">Listado de eventos</a>
        </div>
        <div class="sidebar-item d-flex align-items-center <%= opcion === 'creacionEvento' ? 'active' : '' %>">
            <a href="/backoffice/creacion-evento">Creación de eventos</a>
        </div>
        <div class="sidebar-item d-flex align-items-center <%= opcion === 'categorias' ? 'active' : '' %>">
            <a href="/backoffice/categorias">Gestión de categorías</a>
        </div>
        <div class="sidebar-item d-flex align-items-center <%= opcion === 'entradas' ? 'active' : '' %>">
            <a href="/backoffice/listado-entradas-eventos">Listado de entradas</a>
        </div>
        <div class="sidebar-item d-flex align-items-center <%= opcion === 'creacionEntrada' ? 'active' : '' %>">
            <a href="/backoffice/creacion-entradas-eventos">Creación de entradas</a>
        </div>
        <div class="sidebar-item d-flex align-items-center <%= opcion === 'cupones' ? 'active' : '' %>">
            <a href="/backoffice/cupones">Gestión de cupones</a>
        </div>
    </nav>
</div>