<div class="sidebar">
    <nav>
        <div class="sidebar-item d-flex align-items-center <%= opcion === 'infoPersonal' ? 'active' : '' %>">
            <a href="/perfil">Información Personal</a>
        </div>
        <div class="sidebar-item d-flex align-items-center <%= opcion === 'seguridad' ? 'active' : '' %>">
            <a href="/perfil/seguridad">Contraseña y seguridad</a>
        </div>
        <div class="sidebar-item d-flex align-items-center <%= opcion === 'wishlist' ? 'active' : '' %>">
            <a href="/perfil/wishlist">Eventos favoritos</a>
        </div>
        <div class="sidebar-item d-flex align-items-center <%= opcion === 'misEntradas' ? 'active' : '' %>">
            <a href="/perfil/mis-entradas">Mis entradas</a>
        </div>
        <div class="sidebar-item d-flex align-items-center <%= opcion === 'historialEntradas' ? 'active' : '' %>">
            <a href="/perfil/historialEventos">Historial de compras</a>
        </div>
    </nav>
</div>