<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/sidebar.css">    
    <link rel="stylesheet" href="/css/backoffice/backoffice.css">
</head>
<body class="backoffice-body">
    <%- include('../../includes/header.ejs') %>

    <main class="backoffice-main d-flex">
        <div class="left-section">
            <div class="user-section">
                Usuario Administrador
            </div>
            <div class="sidebar-section">
                <%- include('../../includes/sidebarBackOffice.ejs') %>
            </div>
        </div>
        <div class="right-section">
            <div class="content-wrapper">
                <h1 class="title-section"><%= tituloSeccion %></h1>

                <h4 class="mb-3"> Crear categoría </h4>

                <form action="/backoffice/crear-categoria" class="d-flex flex-row mb-3 form-crear-categoria" method="POST">
                    <div class="col-7 p-0">
                        <input type="text" class="" name="nombreCategoria">
                    </div>

                    <div class="col-5">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <button class="btn btn-primary">
                            Crear categoría
                        </button>
                    </div>
                </form>

                <% if (categorias.length > 0) { %>
                    <h4 class="my-3"> Listado de categorías </h4>

                    <table class="table backoffice-table">
                        <thead>
                            <tr>                                
                                <th class="nombre-col">Nombre</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            <% for (let categoria of categorias) { %>
                                <tr>
                                    <td><%= categoria.nombre %></td>
                                    <td class="options-row">
                                        <form action="/backoffice/eliminar-categoria" method="POST">
                                            <input type="hidden" value="<%= categoria._id %>" name="idCategoria">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                            <button class="btn">
                                                <%- include('../../svgs/btnEliminar.ejs') %>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            <% } %>                            
                        </tbody>
                    </table>
                <% } else { %>
                    <h3>No hay categorías registradas</h3>
                <% } %>
            </div>            
        </div>
    </main>
</body>
</html>