<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/sidebar.css">    
    <link rel="stylesheet" href="/css/backoffice/backoffice.css">
</head>
<body class="backoffice-body">
    <%- include('../../includes/header.ejs') %>

    <main class="backoffice-main d-flex">
        <div class="left-section">
            <div class="user-section">
                <%= usuario.nombre %> <%= usuario.apellido %>
            </div>
            <div class="sidebar-section">
                <%- include('../../includes/sidebarStore.ejs') %>
            </div>
        </div>
        <div class="right-section">
            <div class="content-wrapper">
                <h1 class="title-section"><%= tituloSeccion %></h1>

                <div class="col-12">            
                    <form class="profile-form mb-4" action="/perfil/agregar-foto"  method="POST">
                        <input type="hidden" value="<%= usuario._id %>" name="idUsuario">
                        <div class="d-flex justify-content-between">
                            <h2 class="subtitle-section"> Foto de perfil </h2>

                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="btn btn-dark rounded-xl account-form-btn"> Guardar </button>
                        </div>

                        <div class="form-row">
                            <div class="col-12">
                                <input type="text" name="foto" id="foto" placeholder="URL de Foto">
                            </div>
                        </div>                    
                    </form>

                    <form class="profile-form mb-4" action="/perfil/editar-info-personal"  method="POST">
                        <input type="hidden" value="<%= usuario._id %>" name="idUsuario">
                        <div class="d-flex justify-content-between">
                            <h2 class="subtitle-section"> Información personal </h2>

                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="btn btn-dark rounded-xl account-form-btn"> Guardar </button>
                        </div>

                        <div class="form-row">
                            <div class="col-6">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" id="nombre" placeholder="Nombre" value="<%= usuario.nombre %>">
                            </div>
    
                            <div class="col-6">
                                <label for="nombre">Apellido</label>
                                <input type="text" name="apellido" id="apellido" placeholder="Apellido" value="<%= usuario.apellido %>">
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-6">
                                <label for="nombre">Genero</label>
                                <select name="genero" id="genero">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Femenino">Femenino</option>
                                </select>
                            </div>
    
                            <div class="col-6">
                                <label for="nombre">Ciudad</label>
                                <%- include('../../includes/opcionesCiudades.ejs') %>
                            </div>
                        </div>
                    </form>

                    <form class="profile-form mb-4" action="/perfil/editar-info-complementaria"  method="POST">
                        <input type="hidden" value="<%= usuario._id %>" name="idUsuario">
                        <div class="d-flex justify-content-between">
                            <h2 class="subtitle-section"> Información complementaria </h2>

                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="btn btn-dark rounded-xl account-form-btn"> Guardar </button>
                        </div>

                        <div class="form-row">
                            <div class="col-6">
                                <label for="nombre">DNI</label>
                                <input type="text" name="dni" id="dni" placeholder="DNI">
                            </div>
    
                            <div class="col-6">
                                <label for="nombre">Fecha de nacimiento</label>
                                <input type="date" name="fechaNacimiento" id="fechaNacimiento">
                            </div>
                        </div>                    
                    </form>

                    <form class="profile-form mb-4" action="/perfil/guardar-info-contacto"  method="POST">
                        <input type="hidden" value="<%= usuario._id %>" name="idUsuario">
                        <div class="d-flex justify-content-between">
                            <h2 class="subtitle-section"> Información de contacto </h2>

                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="btn btn-dark rounded-xl account-form-btn"> Guardar </button>
                        </div>

                        <div class="form-row">
                            <div class="col-6">
                                <label for="nombre">Correo</label>
                                <input type="text" name="correo" id="correo" placeholder="Correo electrónico" value="<%= usuario.correo %>">
                            </div>
    
                            <div class="col-6">
                                <label for="nombre">Celular</label>
                                <input type="text" name="celular" id="celular" placeholder="Número de celular">
                            </div>
                        </div>                    
                    </form>
                </div>
            </div>            
        </div>
    </main>
</body>
</html>