<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/sidebar.css">    
    <link rel="stylesheet" href="/css/backoffice/backoffice.css">
</head>
<body class="backoffice-body">
    <%- include('../../includes/header.ejs') %>

    <main class="backoffice-main d-flex">
        <div class="left-section">
            <div class="user-section">
                Usuario Administrador
            </div>
            <div class="sidebar-section">
                <%- include('../../includes/sidebarBackOffice.ejs') %>
            </div>
        </div>
        <div class="right-section">
            <div class="content-wrapper">
                <h1 class="title-section"><%= tituloSeccion %></h1>

                <% if (evento.catalogoEntradas.length > 0) { %>

                    <% for (let entrada of evento.catalogoEntradas) { %>

                        <div class="detalle-entrada-wrapper">
                            <div class="d-flex mb-3">
                                <h4 class="col-3 p-0"> <%= entrada.tipoEntrada.nombre %> </h4>
    
                                <form action="/backoffice/eliminar-entrada" method="POST">
                                    <input type="hidden" value="<%= evento._id %>" name="idEvento">
                                    <input type="hidden" value="<%= entrada._id %>" name="idEntrada">
                                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                    <button class="btn p-0">
                                        <%- include('../../svgs/btnEliminar.ejs') %>
                                    </button>
                                </form>
                            </div>
    
                            <form action="/backoffice/editar-entrada" method="POST">
                                <input type="hidden" value="<%= evento._id %>" name="idEvento">
                                <input type="hidden" value="<%= entrada._id %>" name="idEntrada">
    
                                <div class="form-row">
                                    <div class="col-6">
                                        <label for="precio">Precio</label>
                                        <input type="number" name="precio" id="precio" value="<%= entrada.precio %>">
                                    </div>
            
                                    <div class="col-6">
                                        <label for="cantidad">Cantidad en venta</label>
                                        <input type="number" name="cantidad" id="cantidad" value="<%= entrada.cantidadEntradasTotal %>">
                                    </div>
                                </div>
    
                                <div class="form-row">
                                    <div class="col-6">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn btn-primary w-100 mb-5" type="submit"> Guardar </button>
                                    </div>  
                                </div>                        
                                
                            </form>
                        </div>                    

                    <% } %> 
                    
                <% } else { %>
                    <h4>No hay entradas registradas</h4>
                <% } %>
            </div>            
        </div>
    </main>
</body>
</html>
