<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/sidebar.css">    
    <link rel="stylesheet" href="/css/backoffice/backoffice.css">
</head>
<body class="backoffice-body">
    <%- include('../../includes/header.ejs') %>

    <main class="backoffice-main d-flex">
        <div class="left-section">
            <div class="user-section">
                Usuario Administrador
            </div>
            <div class="sidebar-section">
                <%- include('../../includes/sidebarBackOffice.ejs') %>
            </div>
        </div>
        <div class="right-section">
            <div class="content-wrapper">
                <h1 class="title-section"><%= tituloSeccion %></h1>

                <% if (eventos.length > 0) { %>
                    <table class="table backoffice-table">
                        <thead>
                            <tr>                                
                                <th class="nombre-col">Nombre</th>
                                <th>Tipos de entradas</th>
                                <th>Lugar</th>
                                <th>Ciudad</th>
                                <th>Opciones</th>
                            </tr>
                        </thead>
                        <tbody>                            
                            <% for (let evento of eventos) { %>
                                <tr>
                                    <td><%= evento.nombre %></td>
                                    <td><%= evento.catalogoEntradas.length %></td>
                                    <td><%= evento.lugar %></td>
                                    <td><%= evento.ciudad %></td>
                                    <td>
                                        <a href="/backoffice/entradas-evento/<%= evento._id %>" class="btn btn-primary btn-sm">Ver entradas</a>                                        
                                    </td>
                                </tr>
                            <% } %>                            
                        </tbody>
                    </table>
                <% } else { %>
                    <h3>No hay eventos registrados</h3>
                <% } %>
            </div>            
        </div>
    </main>
</body>
</html>