<%- include('../../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/store/general.css">
    <link rel="stylesheet" href="/css/store/home.css">
</head>
<body class="joinnus-body">
    <%- include('../../includes/headerStore.ejs') %>

    <main>
        <div class="container-section">
            <div class="principal-events mt-4">
                <h1 class="subtitle-home"> Resultado </h1>
                    <% if (eventos.length > 0) { %>
                        <div class="eventos-destacados">
                            <% for (let evento of eventos) { %>
                                <div class="evento">
                                    <img src="<%=evento.urlImagen %>" alt="Evento">
                                    <div class="info-evento">
                                        <h3 class="title-event"><%= evento.nombre %></h3>
    
                                        <div class="time-info">
                                            <div class="icon-calendar">
                                                <%- include('../../svgs/calendar.ejs') %>
                                            </div>
                                            
                                            <p class="m-0"> <%= evento.fecha %> - <%= evento.hora %> </p>
                                        </div>
                                        
                                        <div class="price-info d-flex">                                    
                                            <a href="/tienda/detalle-evento/<%= evento._id %>" class="btn-comprar"> Comprar </a>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    <% } else { %>
                        <h1>No hay eventos para mostrar</h1>
                    <% } %>
                </div>
            </div>
        </div>
    </main>
</body>
</html>